<header>
    <nav>
        <ul>
            <li>
                <a href="/">Message Board</a>
            </li>
            <li>
                <a href="/new">Add new message</a>
            </li>
        </ul>
    </nav>
</header>