<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Message Board</title>
	</head>

	<body>
		<%- include('./partials/nav.ejs') %>
		<main>
			<h1>Message Board</h1>
			<hr />
			<%# if messages array is not empty... %>
			<% if (messages.length > 0) { %>
			<ul>
				<%# create an li for each message in the array displaying its properties %>
				<% messages.forEach(message => { %>
				<li>
					<h2><%= message.user %></h2>
					<span><%= message.added %></span>
					<p><%= message.text %></p>
				</li>
				<hr>
				<% }) %>
			</ul>
			<% } else { %>
			<p>No messages posted to board</p>
			<% } %>
		</main>
	</body>
</html>
